*{
    box-sizing: border-box;
    font-size: 16px;
}

*{
    --color-brand: #e67e22;
}

body{
    background: #fcfcfc;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 1.75;
    color: #000000;
}

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  font-size: 3.49rem;
}

h2 {font-size: 3.157rem;}

h3 {font-size: 2.369rem;}

h4 {font-size: 1.777rem;}

h5 {font-size: 1.333rem;}

small, .text_small {font-size: 0.75rem;}

/* ---------- START CONTAINER ------------- */

.container{
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 1rem;
}

.whitespace{
  background: white;
  height: 1000rem;
}

/* ----------- END CONTAINER ----------- */

/* -------- START TEXT ----------- */

.text--bold{
  font-weight: bold;
}
.text--highlight{
  color: #cf711f;
}

/* ----------END TEXT -----------*/

/* ------------ START BUTTONS ---------- */

.button{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  transition: .3s ease all;
  padding: 10px 30px;
  border: none;
  border-radius: 20px;
  font-size: 1.1rem;
  font-weight: 600;
}

.button--full{
  background: #e67e22;
  color: #fff;
}
.button--full:hover{
  cursor: pointer;
  background: #cf711f;
}

.button--outline {
  color: #333;
  background: #fff;
}
.button--outline:hover{
  cursor: pointer;
  color: #333;
  box-shadow: inset 0 0 0 3px rgba(255,255,255);
  background: inherit;
}

/* ---------- END BUTTONS ------------- */

/* ----------- START SECTIONS ---------------- */

.section{
  padding: 3rem 0rem;
}

.section-hero{
  padding: 1rem 0rem;
  background-color: #fdf2e9;
  margin-top: 0;
}

.section-how{
  background: white;
}

.section-featured{
  background: white;
}

/* .section-meals{
  background: white;
} */

/* ----------- END SECTIONS ------------ */

/* --------- START MAIN-NAV ---------- */

.header{
  transition: .3s ease-out all;
  top: 0;
  position: sticky;
  background: #fdf2e9;
  z-index: 9;
}

.header--scrolled{
  background: white;
  box-shadow: 0 3px 0 rgba(0,0,0,0.02);

}

.main-nav{
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-nav__logo{
  max-width: 10rem;
}

.main-nav__list{
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
}

.main-nav__item{
  margin-left: 1.5rem;
}

.main-nav__link:link, .main-nav__link:visited{
  transition: .3s ease all;
  text-decoration: none;
  color: #333;
  font-size: 1.05rem;
  font-weight: bold;
}

.main-nav__link:hover{
  color:#e67e22;
}

.main-nav__link--selected:link, .main-nav__link--selected:visited{
  color: #e67e22;
}

/* ------------ END MAIN-NAV -------------*/

/* ----------- START FEATURED-IN ----------- */

.featured{
  text-align: center;
}

.featured__content{
  padding-bottom: 3.8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between  ;
  gap: 2rem;
  flex-wrap: wrap;
}

.featured__tittle{
  margin-top: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.45px;
  font-size: 1.1rem;
  margin-bottom: 2.8rem;
  color: #888;
}

.featured__logo{
  height: 2rem;
}
.featured__logo img{
  height: 100%;
  filter: grayscale(100%);
  opacity: 50%;
}

/* ----------- END FEATURED-IN ----------- */

/* -------- START HERO ------------ */

.hero{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 30rem), 1fr));
  grid-template-rows: 40rem;
  align-items: center;
  grid-gap: 1rem;
}

.hero__container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hero__tittle{
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: -0.5px;
}
.hero__subtittle{
  font-size: 1.2rem;
  letter-spacing: -0.5px;
}

.hero__buttons{
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.hero__img{
  width: 95%;
}

/* ------------ END HERO CONTAINER ------------ */

/* ----------- START MEALS REVIEW ------------- */

.meals-review{
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  gap: .5rem;
}

.meals-review__container{
  display: flex;
}

.meals-review__person{
  max-width: 3.3rem;
  border-radius: 50%;
  margin-right: -1rem;
}

.meals-review__container img:last-child{
  margin: 0;
}

/* ----------- END MEALS REVIEW -------------- */

/* ---------- START HEADING ------------ */

.heading{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: 4rem;
}
.heading__head{
  margin: 0;
  font-weight: 900;
  font-size: 2.5rem;
  letter-spacing: -0.5px;;
}
.heading__subheading{
  font-weight: 700;
  text-transform: uppercase;
  color: #cf711f;
  letter-spacing: -0.5px;;
}


/* ----------- END HEADING ------------ */

/* --------- START HOW --------------- */

.how{
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.how__elem{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 25rem), 1fr));
  align-items: center;
  justify-content: center;
  grid-gap: 2rem;
}
.how__elem--first{
  order: -1;
}
.how__labels{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.how__number{
  margin: 0;
  font-weight: 900;
  font-size: 5rem;
  color: #f8dec9;
}
.how__tittle{
  margin: 0;
  font-weight: 900;
  letter-spacing: -0.5px;
  font-size: 1.8rem;
  word-spacing: -0.5px;
}
.how__description{
  color: #333;
  font-weight: 500;
  font-size: 1.1rem;
}
.how__image{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.how__img{
  width: 30%;
  z-index: 2;
}

/* ----------- END HOW ------------ */

/* -------- START CIRCLE ------------ */

.circle{
  position: absolute;
  background-color: #f8dec9;
  border-radius: 50%;
  width: 50%;
  padding-top: 50%;
  z-index: 1;
}
.circle--big{
  z-index: 0;
  width: 70%;
  padding-top: 70%;
}
.circle--shadow{
  background-color: #fff5ee;
}

/* -------- END CIRCLE ----------- */

/* --------- START MEALS ------------ */

.meals{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 15rem), 1fr));
  grid-auto-rows: 30rem;
  grid-gap: 2rem;
  justify-content: center;
}

.meals__group{
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 6px 10px rgba(0,0,0,0.03);
}

/* --------- END MEALS ------------ */